<li>
  <img src="assets/img/thumb/<%= product %>.jpg" alt="">
  <button type="button" class="close">×</button>
  <div class="overflow-h">
    <span>Black Glasses</span>
    <small>1 x $400.00</small>
  </div>
</li>
