<li>
  <!-- <img src="assets/img/thumb/<%#= product %>.jpg" alt=""> -->
  <button type="button" class="close">×</button>
  <div class="overflow-h">
    <span><%= cart_item.product.title %></span>
    <small><span id="quantity-product-<%= cart_item.id %>"><%= cart_item.quantity %></span> x R$ <%= cart_item.product.value %></small>
  </div>
</li>
