<!--=== Footer v4 ===-->
<div class="footer-v4">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-12 md-margin-bottom-40">
          <%= link_to root_path, id: 'logo-footer-wrapper' do %>
            <%= image_tag 'logo.png', id: 'logo-footer' %>
          <% end %>
          <p class="text-center">Loja de instrumentos musicais para teste da moip.</p>
        </div>
        <!-- End About -->
      </div><!--/end row-->
    </div><!--/end continer-->
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2017 &copy; Marcelo Mita. ALL Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div><!--/copyright-->
</div>
