#logo-header {
  width: 130px;
}

.illustration-v2 .item {
  margin: 0;
}

.shop-social {
  text-align: center;
}

#logo-footer-wrapper {
  width: 40%;
  margin: 0 30%;
}

#logo-footer {
  width: 40%;
  margin: 0 auto;
}

.header-v5 .mCustomScrollbar {
  max-height: 250px;
}

.reg-input .input {
  width: 100%;
}

.cart-items {
  position: relative;
  display: flex;
  .item {
    flex: 1;
    margin-bottom: 20px;
  }
}

.product-description {
  position: absolute;
  bottom: 0;
}

.thumb-image-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  #thumb-image {
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}
