#logo-header {
  width: 130px;
}

.illustration-v2 .item {
  margin: 0;
}

.shop-social {
  text-align: center;
}

#logo-footer-wrapper {
  width: 40%;
  margin: 0 30%;
}

#logo-footer {
  width: 40%;
  margin: 0 auto;
}

.header-v5 .mCustomScrollbar {
  min-height: 40px;
}

.reg-input .input {
  width: 100%;
}
