<div class="container content-md">
  <div class="illustration-v2 margin-bottom-60">
    <% @products.each_slice(4) do |products| %>
      <div class="row cart-items">
        <% products.each do |product| %>
          <%= render partial: 'shared/product_card', locals: { product: product } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
